spring-social-weixin/src/main/resources/org/springframework/social/weixin/config/xml/spring-social-weixin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:weixin="http://www.springframework.org/schema/social/weixin"
	targetNamespace="http://www.springframework.org/schema/social/weixin">
	
	<xs:element name="config">
		<xs:complexType>
			<xs:attribute name="appid" use="required" type="xs:string" />
			<xs:attribute name="appsecret" use="required" type="xs:string" />
		</xs:complexType>
	</xs:element>
	
</xs:schema>